<h1><span data-i18n="skills.my_skills">Hello! My name is El No. I create and write about data products. </span></h1>

<br>

Introductory paragraph

<br>

<div class="row">
  <h4> Expertise </h4>
  Product strategy, Product management, Agile - Scrum and Kanban, Analytics, Data visualisation
  </div>

<div class="row">
<h4>Highlights</h4>
<li> 4 years of experience working as a Product Manager</li>
<li> 4 years of experience working as a Consultant in management consulting and analytics consulting</li>
<li> Multicultural, lived in South Korea, China, UK and Kenya</li>
</div>

<div class="row">
   <h4> Contacts </h4>
   <a href="mailto:lubynoel@gmail.com">email</a>
   <br>
   <a href="http://linkedin.com/in/elno24/">linked in</a>
</div>
