<h1><span data-i18n="skills.my_skills">Hello! My name is El No. I like making something useful using data. </span></h1>

<br>
<br>

<div class="row">

<p>
  With a background in sociology and communications, I am fascinated by how technology forms social practices and norms.
In particular the language of data (big or small, commercial or personal) has been increasingly embedded into our daily lives. I see my role in making data and analytics accessible and useful (instead of mysterious and threatening) to people through visualisation, stories, products and so on.
</p>
<p>
  Throughout my career, I've been taken consultant and manager roles in strategy, analytics and product development working with people with a variety of professional and cultural background including data scientists, designers, aid workers and sales managers
(<a href="https://s3.eu-west-2.amazonaws.com/lubynoel-portfolio/Curriculum_Vitae_El_No_09.2018.pdf">See my resume in PDF</a>).
</p>
<p>
  So far I've spent 62% my life in Korea, 18% in China, 15% in the UK and 5% in Kenya.
</p>
<p>
  Outside work, I love looking after my plants, seeing plays and playing tennis and console games (Nintendo!).
</p>

</div>


<div class="row">
   <h4> Find me: </h4>
     <a href="mailto:lubynoel@gmail.com">Email</a><br>
     <a href="http://linkedin.com/in/elno24/">LinkedIn</a><br>
     <a href="https://brunch.co.kr/@latebeaver">Blog (Korean)</a><br>
     <a href="https://www.behance.net/lubynoel2bc3">Behance</a>
</div>
