<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
I have multinational study and work experience across Asia, Africa and Europe. My current role focuses on building visual analytics capabilities for a cloud-based enterprise software at a London headquartered technology company. I've started off my career in the strategy consulting in Seoul and stepped into the field of marketing analytics, and then moved onto a product design & management role in London where I leverage and productise my expertise in strategy and analytics. Outside work, I love watching films, reading stuff, blogging, planning travels and houseplanting.
</div>
