---
layout: default
---

<h2> Resume </h2>

<div class="row">
      {% include sections/career.html %}
</div>

<div class="row">

          <h4> Expertise </h4>
          Product strategy, Product management, Agile - Scrum and Kanban, Analytics, Data visualisation
       </div>

       <div class="row">
          <h4> Certifications </h4>
          Certified Scrum Product Owner from Scrum.org
       </div>
       <div class="row">
          <h4> Interests </h4>
          Houseplanting, tennis, films, Nintendo
       </div>
