---
layout: default
---
<div class="row">
    <div class="col l7">
        <div class="row">
            <div class="col">
                {% include sections/about.html %}
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% include sections/career.html %}
            </div>
        </div>
    </div>

    <div class="col l4 offset-l1">
       <div class="row">
          <br>
          <h4> Expertise </h4>
          Product strategy, Product management, Agile - Scrum and Kanban, Analytics, Data visualisation
       </div>
       <div class="row">
          <h4> Certifications </h4>
          Certified Scrum Product Owner from Scrum.org
       </div>
       <div class="row">
          <h4> Interests </h4>
          Houseplanting, tennis, films, Nintendo
       </div>
       <div class="row">
          <h3> CONTACTS</h3>
          <a href="mailto:lubynoel@gmail.com">email</a>
          <br>
          <a href="http://linkedin.com/in/elno24/">linked in</a>
       </div>

    </div>


</div>
